<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="Veliva_CustomerLogger::logCustomerLogin" instance="Veliva\CustomerLogger\Observer\LogCustomerObserver"/>
    </event>
    <event name="customer_logout">
        <observer name="Veliva_CustomerLogger::logCustomerLogout" instance="Veliva\CustomerLogger\Observer\LogCustomerObserver"/>
    </event>
</config>
