<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="backend_auth_user_login_success">
        <observer name="Veliva_CustomerLogger::logAdminLoginSuccess" instance="Veliva\CustomerLogger\Observer\LogCustomerObserver"/>
    </event>
    <event name="backend_auth_user_login_failed">
        <observer name="Veliva_CustomerLogger::logAdminLoginFailed" instance="Veliva\CustomerLogger\Observer\LogCustomerObserver"/>
    </event>
</config>
